.footer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 80px;
  background-color: #262626;
  color: #fff;
}
.footer--content {
  width: 100%;
  max-width: 962px;
  padding: 0 6px;
}
.footer__logo {
  display: flex;
  align-items: center;
  height: 116px;
  border-bottom: 1px solid #fff;
}
.footer__info-about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  box-sizing: border-box;
  height: 220px;
  border-bottom: 1px solid #fff;
  padding-top: 32px;
}
.footer__info-about--language {
  width: 227px;
  height: 40px;
  padding-left: 48px;
  border-width: 0;
  background: #3b3b3b url(images/world.svg) 16px center no-repeat;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}
.footer__info-about--social {
  width: 227px;
  border-width: 0;
  margin-top: 33px;
  font-size: 16px;
  line-height: 19px;
}
.footer__info-about--social a {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 1px;
}
.footer__info-about ul {
  list-style: none;
}
.footer__info-about ul > li {
  margin-bottom: 23px;
}
.footer__info-about ul a {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  text-decoration: none;
}
.footer__download {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid #fff;
}
.footer__download a {
  display: inline-block;
  width: 135px;
  height: 40px;
  margin: 20px;
}
.footer__download--app-store {
  background: url(images/app_store.png) center no-repeat;
  background-size: 100% 100%;
}
.footer__download--google-play {
  background: url(images/play_market.png) center no-repeat;
  background-size: 100% 100%;
}
.footer__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 93px;
  font-size: 11px;
  line-height: 13px;
}
.footer__bottom a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
}

.tag-ubereats {
  margin-bottom: 20px;
}
.tag-ubereats span {
  color: #49A144;
}

.ico-facebk {
  background: url(images/facebook.png) center no-repeat;
}

.ico-twit {
  background: url(images/twitter.png) center no-repeat;
}

.ico-inst {
  background: url(images/instagram.png) center no-repeat;
}

.button-to-up {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 80px;
  height: 80px;
  background: #59BD5A url(images/arrow.png) center no-repeat;
}